extends layout

block content
    div
        h1 Demande de congés
        form(action="ddc", method="post")
            div
                label(for=created) Date création
                input#created(type='date', name='created' disabled='disabled' value=created)
            div
                label(for=given) Nom
                input#given(type='text', name='given' placeholder='Durant')
            div
                label(for=first) Prenom
                input#first(type='text', name='first' placeholder='Josephine')
            div
                label(for=matricule) Matricule
                input#matricule(type='text', name='matricule' placeholder='A123')
            div
                label(for=start) Début
                input#start(type='date', name='start' value=start)
            div
                label(for=end) Fin
                input#end(type='date', name='end' value=end)
            div
                label(for=reason) Raison
                select#reason
                    each reason, index in reasons
                        if ! index
                            option(value=index selected) #{reason}
                        else
                            option(value=index) #{reason}
            button.btn.btn-primary(type='submit') Envoyer
